.DS_Store
cypress/cypress/screenshots/
cypress/cypress/videos/
cypress/node_modules/
playwright/node_modules/
playwright/test-results/
playwright/playwright-report/
playwright/blob-report/
playwright/playwright/.cache/